@use "../base/globals" as *;

.alphabet-filter {
    max-width: 540px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    @media (max-width: 767px) {
        max-width: unset;
        padding-right: 30px;
    }

    &__item {
    }

    &__button {
        padding: 8px;
        min-height: 30px;
        min-width: 30px;
        background: #fff;
        border-radius: 8px;
        font-size: 14px;
        line-height: 1;
        transition: all 0.3s ease-in-out 0s;

        &:disabled {
            color: rgba(0, 0, 0, 0.2);
            pointer-events: none;
        }

        &:hover {
            color: $generalHoverColor;
        }
    }
}
