@use "../base/globals" as *;

.gallery {
    margin: 32px 0;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 7px;
        row-gap: 12px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        @media (max-width: 479px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        padding: 8px 6px 3px 8px;
        border: 1px solid rgba(108, 121, 147, 0.2);
        border-radius: 6px;

        @media (min-width: 479px) {
            &:not(.gallery__item--visible):nth-child(n + 7) {
                display: none;
            }
        }

        @media (max-width: 479px) {
            &:not(.gallery__item--visible):nth-child(n + 4) {
                display: none;
            }
        }

        &-image {
            margin-bottom: 2px;
            display: block;
            overflow: hidden;
            border-radius: 6px;
            background: #f0f2f4;

            @media (max-width: 767px) {
                margin-bottom: 4px;
            }

            &:hover {
                & img {
                    transform: scale(1.05);
                }
            }

            &-ibg {
                @include ibg-padding(280, 176);

                & img {
                    object-fit: contain;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            gap: 16px;
            justify-content: space-between;

            @media (min-width: 1200px) {
                padding: 0 4px;
            }
        }

        &-resolution {
            margin-top: 3px;
            font-size: 12px;
            line-height: toProcent(12, 15);
            color: $generalTextGray;
        }

        &-download {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 14px;
            line-height: toProcent(14, 25);
            font-weight: 500;
            color: #333c4d;
            transition: all 0.3s ease-in-out 0s;

            &:hover {
                color: $generalHoverColor;
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                flex: none;

                & svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__more {
        margin-top: 15px;
    }
}
