@use "../base/globals" as *;

.recommended-players {
    margin: 32px 0;

    @media (max-width: 767px) {
        margin: 24px 0;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 24px;

        @media (max-width: 1200px) {
            font-size: 24px;
            line-height: toProcent(24, 28);
        }

        @media (max-width: 767px) {
            margin-bottom: 16px;
            font-size: 20px;
            line-height: toProcent(20, 26);
        }
    }

    &__slider {
        position: relative;

        &-body {
            @media (max-width: 767px) {
                overflow: visible !important;
            }
        }

        &-slide {
            height: unset;

            @media (max-width: 767px) {
                max-width: 211px;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        z-index: 1;

        @media (max-width: 767px) {
            display: none;
        }

        &.swiper-button-disabled {
            opacity: 0;
        }

        &--prev {
            left: 0;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &--next {
            right: 0;
            -webkit-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
        }
    }
}
