@use "globals" as *;

html,
body {
    font-family: $generalFont;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: $generalTextColor;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $generalColor;
        border-radius: 20px;
        border: 1px solid transparent;
    }

    scrollbar-width: 4px;
    scrollbar-color: $generalColor #fff;

    & * {
        &:not(img) {
            &::selection {
                background: $generalTextColor;
                color: #fff;
            }
        }
    }
}

body {
    &.is-lock {
        overflow: hidden;
    }
}

a {
    color: inherit;
    transition: all 0.3s ease-in-out 0s;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.h1 {
}

.h2 {
}

.h3 {
}

.ibg {
    position: relative;

    & img,
    & svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
