@use "variables" as *;

@mixin has-scrollbar() {
    overflow: auto;

    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: $mainOrangeColor #fff;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $mainOrangeColor;
        border-radius: 32px;
        border: 1px solid #fff;
    }
}

@mixin ibg-padding($width, $height) {
    padding-top: calc($height / $width) * 100%;
}
