@use "variables" as *;
@use "function" as *;

@mixin has-scrollbar() {
    overflow: auto;

    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: $mainOrangeColor #fff;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $mainOrangeColor;
        border-radius: 32px;
        border: 1px solid #fff;
    }
}

@mixin ibg-padding($width, $height) {
    padding-top: calc($height / $width) * 100%;
}

@mixin min($key) {
    @media (min-width: #{bp($key)}) {
        @content;
    }
}

@mixin max($key) {
    @media (max-width: #{bp($key)}) {
        @content;
    }
}

@mixin between($from, $to) {
    @media (min-width: #{bp($from)}) and (max-width: #{bp($to)}) {
        @content;
    }
}

@mixin media-ratio($width, $height) {
    aspect-ratio: #{$width} / #{$height};
}

@mixin media-fill($fit: cover) {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: $fit;
}
