$generalFont: Inter;

$maxWidthContainer: 1320px;

$generalTextColor: #000;
$generalTextSecondary: #4c5567;
$generalTextTertiary: #6c7993;
$generalTextDescription: #a7afbe;
$generalButtonText: #1f5214;

$generalPageBg: #eaecf0;
$generalColor: #70d65c;
$generalHoverColor: #067d18;
$generalButtonHoverColor: #4dcc33;

$generalShadow: 0 0 16px 8px rgba(0, 0, 0, 0.05);
