$generalFont: Inter;

$maxWidthContainer: 1320px;

$generalTextColor: #000;
$generalTextSecondary: #4c5567;
$generalTextTertiary: #6c7993;
$generalTextDescription: #a7afbe;
$generalButtonText: #1f5214;

$generalPageBg: #eaecf0;
$generalColor: #70d65c;
