<div class="cookie">
    <div class="container">
        <div class="cookie__body">
            <div class="cookie__icon">
                <img src="images/icons/cookie.svg" alt="Cookie icon" title="Cookie icon" />
            </div>
            <div class="cookie__content">
                <p class="cookie__title">Уведомление о Cookies</p>
                <p class="cookie__text">
                    Мы используем cookie-файлы для наилучего  представления нашего сайта. Продолжая использовать
                    этот сайт, вы соглашаетесь с использованием
                    cookie-файлов.
                </p>
            </div>
            <button type="button" class="cookie__button button">я согласен</button>
        </div>
    </div>
</div>