<div {{ attrs }} class="site-page__sidebars {{ className }}">
    <div class="site-page__sidebars-body">
        <aside class="top-events-sidebar sidebar">
            <h3 class="top-events-sidebar__title sidebar__title">Топ события</h3>
            <ul class="top-events-sidebar__list">
                <li class="top-events-sidebar__item">
                    <div class="top-events-sidebar__item-clash clash">
                        <div class="clash__side">
                            <img src="images/logos/01.png" alt="01" title="01" />
                        </div>
                        <div class="clash__info">
                            <p class="clash__name">Лига Чемпионов</p>
                            <p class="clash__timestamp">25.10 00:45</p>
                        </div>
                        <div class="clash__side">
                            <img src="images/logos/02.png" alt="02" title="02" />
                        </div>
                    </div>
                    <ul class="top-events-sidebar__item-coefficents coefficents">
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">П1</div>
                                <div class="coefficents__value">1.85</div>
                            </button>
                        </li>
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">X</div>
                                <div class="coefficents__value">1.83</div>
                            </button>
                        </li>
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">П2</div>
                                <div class="coefficents__value">2.96</div>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="top-events-sidebar__item">
                    <div class="top-events-sidebar__item-clash clash">
                        <div class="clash__side clash__side--country">
                            <img src="images/countries/spain.png" alt="Spain" title="Spain" />
                        </div>
                        <div class="clash__info">
                            <p class="clash__name">Лига наций</p>
                            <p class="clash__timestamp">20.11 00:45</p>
                        </div>
                        <div class="clash__side clash__side--country">
                            <img src="images/countries/ireland.png" alt="Ireland" title="Ireland" />
                        </div>
                    </div>
                    <ul class="top-events-sidebar__item-coefficents coefficents">
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">П1</div>
                                <div class="coefficents__value">1.85</div>
                            </button>
                        </li>
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">X</div>
                                <div class="coefficents__value">1.83</div>
                            </button>
                        </li>
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">П2</div>
                                <div class="coefficents__value">2.96</div>
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="top-events-sidebar__item">
                    <div class="top-events-sidebar__item-clash clash">
                        <div class="clash__side clash__side--people">
                            <img src="images/peoples/01.png" alt="Fighter" title="Fighter" />
                        </div>
                        <div class="clash__info">
                            <p class="clash__name">UFC</p>
                            <p class="clash__timestamp">26.11 00:45</p>
                        </div>
                        <div class="clash__side clash__side--people">
                            <img src="images/peoples/02.png" alt="Fighter" title="Fighter" />
                        </div>
                    </div>
                    <ul class="top-events-sidebar__item-coefficents coefficents">
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">П1</div>
                                <div class="coefficents__value">1.85</div>
                            </button>
                        </li>
                        <li class="coefficents__item">
                            <button type="button" class="coefficents__button">
                                <div class="coefficents__exodus">П2</div>
                                <div class="coefficents__value">2.96</div>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" class="sidebar__button button">все коэффициенты</a>
        </aside>
        <aside class="bonuses-sidebar sidebar">
            <h3 class="bonuses-sidebar__title sidebar__title">Бонусы Olimpbet</h3>
            <ul class="bonuses-sidebar__list">
                <li class="bonuses-sidebar__item">
                    <div class="bonuses-sidebar__item-body">
                        <div class="bonuses-sidebar__item-icon">
                            <img src="images/icons/bonuses/tenge.svg" alt="Tenge icon" title="Tenge icon" />
                        </div>
                        <div class="bonuses-sidebar__item-content">
                            <p class="bonuses-sidebar__item-title">СӘЛЕМ БОНУС</p>
                            <p class="bonuses-sidebar__item-text">Зарегистрируйся и&nbsp;получи 1&nbsp;000 тенге гарантировано</p>
                        </div>
                    </div>
                    <a href="#" class="bonuses-sidebar__item-button button">Получить</a>
                </li>
                <li class="bonuses-sidebar__item">
                    <div class="bonuses-sidebar__item-body">
                        <div class="bonuses-sidebar__item-icon">
                            <img src="images/icons/bonuses/telegram.svg" alt="Telegram icon" title="Telegram icon" />
                        </div>
                        <div class="bonuses-sidebar__item-content">
                            <p class="bonuses-sidebar__item-title">Фрибет за&nbsp;подписку</p>
                            <p class="bonuses-sidebar__item-text">Разыгрываем 100&nbsp;000 фрибетами за&nbsp;подписку</p>
                        </div>
                    </div>
                    <a href="#" class="bonuses-sidebar__item-button button">Получить</a>
                </li>
                <li class="bonuses-sidebar__item">
                    <div class="bonuses-sidebar__item-body">
                        <div class="bonuses-sidebar__item-icon">
                            <img src="images/icons/bonuses/bonus.svg" alt="Bonus icon" title="Bonus icon" />
                        </div>
                        <div class="bonuses-sidebar__item-content">
                            <p class="bonuses-sidebar__item-title">бонусный клуб</p>
                            <p class="bonuses-sidebar__item-text">Делайте ставки и&nbsp;получайте гарантированные призы</p>
                        </div>
                    </div>
                    <a href="#" class="bonuses-sidebar__item-button button">Вступить</a>
                </li>
            </ul>
        </aside>
    </div>
</div>
