<footer class="site-footer">
    <div class="container">
        <a href="/homepage.html" class="site-footer__logo">
            <div class="site-footer__logo-ibg ibg">
                <img width="106" height="25" src="images/logo.svg" alt="Arena logo" title="Arena logo" />
            </div>
        </a>
        <div class="site-footer__body">
            <nav class="site-footer__menu footer-menu">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Прогнозы</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Новости</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Лучшие ставки</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Обучение</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Видео</a>
                    </li>
                </ul>
            </nav>
            <ul class="site-footer__socials socials">
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img width="16" height="16" src="images/icons/socials/telegram.svg" alt="Telegram icon"
                            title="Telegram icon" />
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img width="16" height="16" src="images/icons/socials/vk.svg" alt="Vk icon" title="Vk icon" />
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img width="16" height="16" src="images/icons/socials/instagram.svg" alt="Instagram icon"
                            title="Instagram icon" />
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img width="16" height="16" src="images/icons/socials/tik-tok.svg" alt="Tik-tok icon"
                            title="Tik-tok icon" />
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img width="16" height="16" src="images/icons/socials/youtube.svg" alt="Youtube icon"
                            title="Youtube icon" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="site-footer__bottom">
            <div class="site-footer__license">
                <div class="site-footer__license-icon">
                    <img width="32" height="32" src="images/icons/age.svg" alt="Age icon" title="Age icon" />
                </div>
                <p class="site-footer__license-text">
                    Лицензия TOO &laquo;NetBet (НэтБэт)&raquo; &#8470;&nbsp;23019645 от&nbsp;06.09.2023 выдана
                    ГУ&nbsp;&laquo;Комитет индустрии туризма
                    Министерства культуры и&nbsp;спорта&nbsp;РК&raquo;
                </p>
            </div>
            <p class="site-footer__copyright">Copyright © 2024 ТОО «NetBet»</p>
        </div>
    </div>
</footer>