@use "../base/globals" as *;

.author-card {
    height: 100%;
    min-height: 234px;

    @media (max-width: 1200px) {
        min-height: 224px;
    }

    &__link {
        padding: 145px 24px 20px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;

        &:hover {
            box-shadow: $generalShadow;

            & .author-card__title {
                color: $generalHoverColor;
            }
        }

        @media (max-width: 991px) {
            padding-bottom: 9px;
        }

        @media (max-width: 767px) {
            padding: 148px 24px 10px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            width: 200%;
            height: 100%;
            background: #171a1c;
            filter: blur(50px);
            z-index: -1;
        }
    }

    &__image {
        position: absolute;
        inset: 0;
        z-index: -2;

        & img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
        }
    }

    &__name {
        margin-top: auto;
        margin-bottom: 6px;
        font-size: 18px;
        line-height: 111%;
        font-weight: 600;
        color: #fff;

        &:last-child {
            margin-bottom: 3px;

            @media (max-width: 1200px) {
                margin-bottom: 16px;
            }

            @media (max-width: 767px) {
                margin-bottom: 6px;
            }
        }
    }

    &__description {
        font-size: 14px;
        line-height: 143%;
        color: rgba(255, 255, 255, 0.6);
    }
}
