.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .socials {
        gap: 16px;
    }
}
.socials__link {
    padding: 8px;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(108, 121, 147, 0.1);

    &--white {
        background: #fff;
    }
}
@media (max-width: 767px) {
    .socials__link--author {
        padding: 12px;
        width: 48px;
        height: 48px;
    }
}
.socials__link:hover {
    background: rgba(108, 121, 147, 0.2);
}
.socials__link:active,
.socials__link:focus {
    background: rgba(108, 121, 147, 0.3);
}
.socials__link img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
