@use "old";

//*<Base>=======================================================================================================

//*</Base>=====================================================================================================

//*<Components>==================================================================================================

//?==============<Ui>==============

@use "./ui/button-more";
@use "./ui/socials";
@use "./ui/author-card";
@use "./ui/sport-entity";
@use "./ui/player-info-card";

//?==============</Ui>=============

@use "./components/alphabet-filter";

//*</Components>=================================================================================================

//*<Sections>==================================================================================================

@use "./sections/recommended-players";
@use "./sections/gallery";

//*</Sections>=================================================================================================

//*<Pages>==================================================================================================

//?==============<Sport entities page>==============

@use "./sport-entities-page/sport-entities-page";

//?==============</Sport entities page>=============

//*</Pages>=================================================================================================
